src/main/scala/fjn/pythia/networking/message/JAXBPoint.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:jxb="http://java.sun.com/xml/ns/jaxb"
            jxb:version="2.0">


<xsd:complexType name="DPoint2D">
  <xsd:sequence>
      <xsd:element name="x" type="xsd:double"/>
      <xsd:element name="y" type="xsd:double"/>
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="DPoint3D">

  <xsd:sequence>
      <xsd:element name="x" type="xsd:double"/>
      <xsd:element name="y" type="xsd:double"/>
      <xsd:element name="z" type="xsd:double"/>
  </xsd:sequence>

</xsd:complexType>


</xsd:schema>